*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
li{
    list-style: none;
}

body{
    background-color: rgb(221, 226, 230);
}

a{
    text-decoration: none;
}

header{
    background-color: rgb(66, 78, 78);
    min-height: 40px;
}
nav ul li{
   margin: 0 24px;
   position: relative;
}

nav ul li a{
    color: aliceblue;
    padding: 20px 0;
    display: block;
}
nav ul li a:hover{
    color: aqua;
}


nav ul li .subMenu {
    min-width: 130px;
    transition: 0.5s;
	background: black;
	position: absolute;
	top: 120%;
    left: 0;
    padding: 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
}

nav ul li:hover > .subMenu {
    top: 100%;
    opacity: 1;
    visibility: visible;
}
nav ul li .subMenu li{
    display: block;
}

nav ul li .subMenu li a{
    padding: 12px 0;
}




/* -------responsiveBtn------- */

.checkBtn{
    font-size: 20px;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}

